#main { min-height: 60vh; }

.page-header {
  padding: 3.5rem 0 1.5rem;

  .subtitle {
    margin-top: 0.8rem;
    font-size: 1.2rem;
    color: var(--muted);
  }
}

.page-body { padding-bottom: 5rem; }
