.highlight {
  .c, .c1, .cm, .cs, .cp { color: #a6957f; font-style: italic; }
  .k, .kd, .kn, .kp, .kr, .kt, .kc { color: #e39a62; }
  .o, .ow { color: #e39a62; }
  .s, .s1, .s2, .sb, .sc, .sd, .se, .sh, .si, .sx, .sr, .ss { color: #b7c98d; }
  .m, .mf, .mh, .mi, .mo, .il { color: #e8998a; }
  .na, .nb, .bp, .nc, .nn, .nf, .nd, .ne { color: #e8c58a; }
  .nt { color: #e39a62; }
  .nv, .vi, .vg { color: #9fc4d6; }
  .p { color: #d8c9b5; }
  .gd { color: #e8998a; }
  .gi { color: #b7c98d; }
}
